<!DOCTYPE html>
<html>
<head>
  <title>MancJS: Rock, Paper, Scissors</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="css/bootstrap.min.css" rel="stylesheet" media="screen" />
  <link href="css/app.css" rel="stylesheet" media="screen" />
</head>
<body>
  <h1>
    {{username}}
    <div>competing with {{playerCount}} other players</div>
  </h1>

  <div class="bot-perf-bar">
    <div>
      {{results.won}}
      <span>won</span>
    </div>
    <div>
      {{results.lost}}
      <span>lost</span>
    </div>
    <div>
      {{results.drew}}
      <span>drew</span>
    </div>
  </div>

  <div class="bot-update-container">

    <div class="container">
      <h2>
        Update Bot Script
        <div>{{botUploads}} updates | {{botLOC}} lines of code | updated {{botLastUpdated}}</div>
      </h2>

      <form method="post" action="/update" enctype="multipart/form-data">
        <input type="hidden" name="key" value="{{key}}" />
        <input type="hidden" name="username" value="{{username}}" />
        <input type="file" name="bot" onchange="javascript:this.form.submit();" />
      </form>
    </div>

  </div>

  <div class="bot-stats">
    <h2>Bot Performance</h2>
  </div>

  <script src="js/jquery.js"></script>
  <script src="js/bootstrap.min.js"></script>
</body>
</html>