<!DOCTYPE html>
<html>
<head>
  <title>MancJS: Rock, Paper, Scissors</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="css/bootstrap.min.css" rel="stylesheet" media="screen" />
  <link href="css/font-awesome.min.css" rel="stylesheet" media="screen" />
  <link href="css/app.css" rel="stylesheet" media="screen" />
</head>
<body>
  <div class="container home">
    <div class="jumbotron">
      <h1>
        Rock, Paper, Scissors
      </h1>
      <p class="link-row">
        <a class="btn btn-primary btn-lg" href="/results">Scoreboard</a>
        <a class="btn btn-success btn-lg" href="/register">Register</a>
      </p>
    </div>
  </div>
</body>
</html>
